
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	
	<title>INEXT - Quem Notificar</title>
	<div>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">INEXT</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="cadastra">Cadastrar Objeto Manual</a>
		      <li><a href="admin">Quem Notificar</a>
		    </ul>	
		  </div>
		</nav>	
		<div class=" col-md-8">
			<div class="cadastroUsuario">
			<h3>Cadastrar Adm</h3>
			<form class="form" action="/admin_dados" method="post">
				<div class="form-group">
					<label>Nome: </label>
					<input class="" name="nome" type="text" " >
				</div>	
				<div class="form-group">
					<label>email: </label>
					<input class="" name="email" type="text" >
				</div>	
				<div class="form-group">
					<input class="btn btn-success" type="submit" value="Salvar">
					<a class="btn btn-warning" href="/">Cancelar</a>
				</div>
			</form>
		</div>
		</div>
		<div class="col-md-4 tableUsuario">
		<h3>Tabela Adm</h3>
		<table >
		<tbory>
			<tr>
				<td><b>Nome</b></td>
				<td><b>Email</b></td>
				<td></td>
				<td></td>
			</tr>	
		</tbory>
		<% for(var i =0; i < admin.length; i++){ %>
			<tr>
				<td><%= admin[i].nome %></td>
				<td><%= admin[i].email %></td>
				<td><a href="/admin_edit/<%=admin[i]._id %>">Editar</a></td>
				<td><a href="/removeAdm/<%=admin[i]._id %>">Remover</a></td>
			</tr>
		
	<%	}%>	
		</table>
		
		</div>