<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar Objeto</title>
</head>
	<body>
		<div>
			<form  action="/cadastrar" method="post">
				<div>
					<label>Nome: </label>
					<input class="" name="nome" type="text" >
				</div>	
				<div>
					<label>TagRFID: </label>
					<input class="" name="tagRFID" type="text"  >
				</div>
				<div>
					<label>Tombo: </label>
					<input class="" name="tombo" type="number" >
				</div>
				<div>
			
					<label>Descrição</label>
					<input class="" name="descricao" type="text" >
				</div>	
				<div>
					<label>Sala: </label>
					<input class="" name="sala" type="text" >
				</div>	
				<div>
					<input type="submit" value="Salvar">
					<a href="/">Cancelar</a>
				</div>
			</form>
		</div>
	</body>
</html>