<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	
	<title>INEXT - Quem Notificar</title>
	<div>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">INEXT</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="cadastra">Cadastrar Objeto Manual</a></li>
		      <li><a href="admin">Quem Notificar</a></li>
		      <li><a href="inventario"><b>Inventário</b></a></li>
		      <li><a href="sala">Ger. de Salas</a></li>
		    </ul>	
		  </div>
		</nav>
		<div>